<%= form_for(@doctorspatient) do |f| %>
  <% if @doctorspatient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctorspatient.errors.count, "error") %> prohibited this doctorspatient from being saved:</h2>

      <ul>
      <% @doctorspatient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :doctor_id %><br />
    <%= f.text_field :doctor_id %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br />
    <%= f.text_field :patient_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
