<h1>Listing healthhistories</h1>

<table>
  <tr>
    <th>Patient</th>
    <th>Information</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @healthhistories.each do |healthhistory| %>
  <tr>
    <td><%= healthhistory.patient_id %></td>
    <td><%= healthhistory.information %></td>
    <td><%= link_to 'Show', healthhistory %></td>
    <td><%= link_to 'Edit', edit_healthhistory_path(healthhistory) %></td>
    <td><%= link_to 'Destroy', healthhistory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Healthhistory', new_healthhistory_path %>
