
<header>
	<h2 id="title">All Patients</h2>
</header>
<article class="hero-unit">
	<%= will_paginate %>
	<ul class="patients">
	<% @patients.each do |patient| %>
	
	  <li>
	  	<%= patient.firstname %>, <%= patient.lastname %>
	  	<div>
	  		<%= link_to 'Show', patient %>
	  		<%= link_to 'Edit', edit_patient_path(patient) %>
	  		<%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %>
	  	</div>
	  </li>
	  <% end %>
	</ul>				
	<%= will_paginate %>
</article>

