<h3>View Patient</h3>
<p>
  First name:
  <%= @patient.firstname %><br />
  last name:
  <%= @patient.lastname %><br />
  gender:
  <%= @patient.gender %><br />
  origin:
  <%= @patient.origin %><br />
  address:
  <%=   @patient.address %><br />
  tribe:
  <%=   @patient.occupation %><br />
  religion:
  <%=   @patient.religion %><br />
  phone:
  <%=   @patient.phone %><br />
  nextofkin
  <%=   @patient.nextofkin %><br />
  family_history:
  <%=   @patient.family_history %><br />
  past_medical_record
  <%=   @patient.past_medical_record %><br />
</p>
<%= link_to "Edit", edit_patient_path(current_patient), :class=> "btn btn-large"%>
